# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.cache

# Environments
env/
.aissyr/

# Folder
postgres_data/
front/

# Config File with sensitive information
.env
custom.yaml

# Vscode
.vscode/

# Directories Data
/notebook_model/data/
/notebook_model/data/glyphs_image/
/notebook_model/data/test_glyphs_image/
/notebook_model/data/train_glyphs_image/
/notebook_model/data/test_tablets_image/
/notebook_model/data/train_tablets_image/
/notebook_model/data/test.csv
/notebook_model/data/train.csv
