# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.cache
.pytest_cache/

# Environments
env/
.aissyr/

# Folder
postgres_data/
front/
mlruns/

# Config File with sensitive information
.env
config.py
custom.yaml
secrets.toml