# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store

# Environments
env/
.aissyr/

# Folder
postgres_data/
front/

# Config File with sensitive information
.env
config.py
custom.yaml

# Vscode
.vscode/

