bcrypt==4.1.2
dagshub==0.3.26
fastapi==0.110.0
gunicorn==21.2.0
mlflow==2.11.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
pydantic==2.6.4
pydantic_core==2.16.3
pytest==8.1.1
python-dotenv==1.0.1
requests==2.31.0
uvicorn==0.29.0


## - Problem with tensorflow and keras :
## - error Heroku SlugSize too large (500M max)

# keras==2.15.0
# tensorflow==2.15.0
# tensorflow-cpu==2.15.0