absl-py==2.1.0
alembic==1.13.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
appnope==0.1.3
asttokens==2.4.1
astunparse==1.6.3
attrs==23.1.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.2
blinker==1.7.0
cachetools==5.3.3
certifi==2023.11.17
charset-normalizer==3.3.2
chromedriver-autoinstaller==0.6.3
click==8.1.7
cloudpickle==3.0.0
comm==0.2.0
commonmark==0.9.1
contourpy==1.2.0
cycler==0.12.1
dacite==1.6.0
dagshub==0.3.12
databricks-cli==0.18.0
dataclasses-json==0.6.3
debugpy==1.8.0
decorator==5.1.1
docker==6.1.3
entrypoints==0.4
executing==2.0.1
extra-streamlit-components==0.1.71
Faker==24.3.0
fastapi==0.110.0
favicon==0.7.0
filelock==3.13.1
Flask==3.0.1
flatbuffers==24.3.7
fonttools==4.47.0
fsspec==2024.2.0
fusepy==3.0.1
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
gql==3.5.0
graphql-core==3.2.3
greenlet==3.0.3
grpcio==1.62.0
gunicorn==21.2.0
h11==0.14.0
h5py==3.10.0
htbuilder==0.6.2
httpcore==0.16.3
httpx==0.23.3
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
ipykernel==6.27.1
ipython==8.18.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.5.1
keras==2.15.0
kiwisolver==1.4.5
libclang==16.0.6
lxml==5.1.0
Mako==1.3.1
Markdown==3.5.2
markdownlit==0.0.7
MarkupSafe==2.1.4
marshmallow==3.20.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
ml-dtypes==0.2.0
mlflow==2.9.2
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.2.1
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.4
parso==0.8.3
pathvalidate==3.0.0
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.1.0
pluggy==1.4.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.2
psutil==5.9.7
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==2.6.4
pydantic_core==2.16.3
pydeck==0.8.1b0
Pygments==2.17.2
PyJWT==2.8.0
pymdown-extensions==10.7.1
pyparsing==3.1.1
PySocks==1.7.1
pytest==8.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
querystring-parser==1.2.4
referencing==0.34.0
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.1.0
rpds-py==0.18.0
rptree==0.1.1
rsa==4.9
scikit-learn==1.4.0
scipy==1.12.0
seaborn==0.13.1
selenium==4.16.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.25
sqlparse==0.4.4
st-annotated-text==4.0.1
stack-data==0.6.3
starlette==0.36.3
streamlit==1.32.2
streamlit-antd-components==0.3.2
streamlit-authenticator==0.3.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
toml==0.10.2
toolz==0.12.1
torch==2.2.0
torchvision==0.17.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
treelib==1.6.4
trio==0.23.2
trio-websocket==0.11.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
ultralytics==8.1.11
urllib3==2.1.0
uvicorn==0.29.0
wcwidth==0.2.12
websocket-client==1.7.0
Werkzeug==3.0.1
wrapt==1.14.1
wsproto==1.2.0
yarl==1.9.4
zipp==3.17.0
